.bg-scroll-1 {
    background-image: url('../images/bg-image-mobile.png');
    background-size: cover;      
    background-position: center;  
    background-repeat: no-repeat;
    background-color: #333333; /* Fallback de segurança */
}

/* Efeito de corte transversal para a Seção 3 */
.corte-diagonal {
    clip-path: polygon(0 5vw, 100% 0, 100% 100%, 0 100%);
}